contlogin{
width: 190px;
}
contlogin{
height: 150px;
}
contlogin{
background-color: rgb(47,79,79,);
}
contFondo{
width: 800px;
}
contFondo{
height: 100px;
}
contFondo{
background-color: rgb(64,64,64,);
}
passw{
width: 53px;
}
passw{
height: 13px;
}
passw{
color: rgb(128,128,128,);
}
Nombre{
width: 44px;
}
Nombre{
height: 13px;
}
Nombre{
color: rgb(128,128,128,);
}
contlogo2{
width: 150px;
}
contlogo2{
height: 50px;
}
contlogo2{
background-color: rgb(0,128,128,);
}
ContLogo1{
width: 50px;
}
ContLogo1{
height: 50px;
}
ContLogo1{
background-color: rgb(64,64,64,);
}
ContBody{
width: 800px;
}
ContBody{
height: 300px;
}
ContBody{
background-color: rgb(64,224,208,);
}
