contenedor1{
width: 800px;
}
contenedor1{
height: 500px;
}
contenedor1{
background-color: rgb(241,205,0,);
}
contenedor2{
width: 400px;
}
contenedor2{
height: 350px;
}
contenedor2{
background-color: rgb(0,213,241,);
}
contenedor3{
width: 250px;
}
contenedor3{
height: 350px;
}
contenedor3{
background-color: rgb(241,0,221,);
}
etiqueta1{
width: 200px;
}
etiqueta1{
height: 10px;
}
etiqueta1{
color: rgb(17,0,255,);
}
etiqueta2{
width: 200px;
}
etiqueta2{
height: 10px;
}
etiqueta2{
color: rgb(17,0,255,);
}
etiqueta3{
width: 200px;
}
etiqueta3{
height: 10px;
}
etiqueta3{
color: rgb(17,0,255,);
}
etiqueta4{
width: 200px;
}
etiqueta4{
height: 10px;
}
etiqueta4{
color: rgb(17,0,255,);
}
etiqueta5{
width: 200px;
}
etiqueta5{
height: 10px;
}
etiqueta5{
color: rgb(17,0,255,);
}
contenedor1{
position: absolute;
left:50px; 
top:100px; 
}
contenedor2{
position: absolute;
left:50px; 
top:100px; 
}
contenedor3{
position: absolute;
left:500px; 
top:100px; 
}
etiqueta1{
position: absolute;
left:50px; 
top:25px; 
}
texto1{
position: absolute;
left:50px; 
top:50px; 
}
etiqueta2{
position: absolute;
left:50px; 
top:100px; 
}
texto2{
position: absolute;
left:50px; 
top:125px; 
}
etiqueta3{
position: absolute;
left:50px; 
top:175px; 
}
clave1{
position: absolute;
left:50px; 
top:200px; 
}
etiqueta4{
position: absolute;
left:50px; 
top:25px; 
}
contenedor4{
position: absolute;
left:50px; 
top:50px; 
}
etiqueta5{
position: absolute;
left:50px; 
top:100px; 
}
contenedor5{
position: absolute;
left:50px; 
top:125px; 
}
areatexto1{
position: absolute;
left:50px; 
top:175px; 
}
boton1{
position: absolute;
left:400px; 
top:25px; 
}
